/* styles.css */
header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

section {
  padding: 20px;
}

article {
  margin-bottom: 30px;
}

article img {
  max-width: 100%;
  height: auto;
}

/* Responsive Styles */
@media screen and (min-width: 768px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .col-md-3 {
    flex: 0 0 30%;
    max-width: 30%;
    padding-right: 15px;
    margin-bottom: 20px; /* Ayırdıkça sağdaki fotoğrafla hizalanabilir */
  }

  .col-md-9 {
    flex: 0 0 65%; /* Toplam %100 olacak şekilde ayarladık */
    max-width: 65%;
  }
}
